.blockquote {
  background-color: $gray-200;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .quote {
    font-size: 1.8rem;
    text-align: center;
    font-style: italic;
    quotes: '\201c' '\201d';

    @include media-breakpoint-up(xl) {
      padding-top: 1rem;
      font-size: 3rem;
    }
  }

  .quote:before {
    display: block;
    padding-left: 10px;
    content: open-quote;
    font-size: 4em;
    position: absolute;
    left: 0em;
    top: -5rem;
    color: $blue;

    @include media-breakpoint-up(xl) {
      top: -6rem;
    }
  }

  .author {
    padding-top: 1rem;
    text-align: right;
    font-style: italic;
    font-size: 1em;

    @include media-breakpoint-up(xl) {
      padding-top: 0;
      font-size: 1.7rem;
      padding-top: 1.5rem;
    }
  }
}
