footer.footer {
  padding-top: 4rem;
  .row {
    height: 100px;
  }

  padding-bottom: 4rem;

  .french-tech-logo {
    max-width: 150px;
    height: auto;
  }

  .ozzo-col-spacing + .ozzo-col-spacing {
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }


}
