html {
  width: 100vw;
  max-width:  100vw;
}

body {
  @include body-font;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  max-width:  100vw;
  color: $gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.alt-font {
  @include title-font;
  font-weight: 600;
}

.text-emphasis {
  color: $orange;
}