header.masthead {
  position: relative;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100vh;
  width: 100%;
  display: table;
  .container {
    display: table-cell;
    vertical-align: middle;
  }
  .parallax {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-size: cover;
    background-color: $gray-800;
    background-image: url(../img/triangle-bg.png);
    background-attachment: fixed;
  }
  .intersection {
    position: absolute;
    left: 50%;
    top: 100%;
  }
  .shape1 {
    content: " ";
    display: block;
    position: absolute;
    bottom: -150px;
    left: -1000px;
    width: 2000px;
    height: 150px;
    transform: rotate(-7deg);
    background-color: $gray-100;
  }
  .shape2 {
    content: " ";
    display: block;
    position: absolute;
    bottom: -150px;
    left: -1000px;
    width: 2000px;
    height: 150px;
    transform: rotate(7deg);
    background-color: $gray-100;
  }
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
  .title {
    padding-bottom: 1rem;
  }
  .masthead-sub-title {
    padding-bottom: 2rem;
    font-size: 1.4rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  h1 {
    font-size: 2.2em;
    text-shadow: 1px 1px $gray-800;

    @include media-breakpoint-up(md) {
      font-size: 2.4rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.6rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 2.8rem;
    }
  }

  h4 {
    font-weight: 600;
    text-shadow: 1px 1px 0 $gray-900;
  }
  
}
