.navbar {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 100vw;
}

.nav-item + .nav-item {
  margin-left: .3rem;
}

.nav-link {
  @include body-font;
  font-size: 1.3rem;
  color: $black;


  &.active {
    color: $blue;
  }
}

.ozzo-logo {
  width: 145px;
  height: auto;
}

.ozzo-navbar {
  box-shadow: 0 0 3px 1px $gray-300;
}

.ozzo-mobile-nav {
  padding: 0 1rem 1rem;
  text-align: right;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}

.ozzo-mobile-nav.show::before,
.ozzo-mobile-nav.collapsing::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100vw;
  height: 1px;
  box-shadow: 0 1px 1px 0 $gray-300;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

