.showcase {

  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }


  .showcase-text {
    @include title-font;
    font-size: 1.5em;
    padding: 1rem;
    font-weight: 400;
    color: $gray-700;

    @include media-breakpoint-up(lg) {
      font-size: 2.5em;
    }
    .text-bold {
      font-weight: 800;
    }
  }


  .showcase-text--right {

    @include media-breakpoint-up(lg) {
      padding-left: 5rem;
    }
  }

  .showcase-img {
    max-width: 80%;
    margin: auto;
    padding: 0;
  }

  .showcase-second-line {
    padding-top: 1rem;

    @include media-breakpoint-up(lg) {
      padding-top: 2rem;
    }
  }
}
